.contact-about {
  text-align: center;
  position: relative;
  }

  footer{
  position: absolute;
  bottom: 8px;
  right: 530px;
  display: flex;

  }

.contact-link {
  color: #f2f2f2;
  font-size: 20px;
  font-family: "PT Sans Narrow", sans-serif;
 text-decoration: none;
}

.linkedin-about {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  margin-top: 2px;

}
