.hero img {
  width: 100%;
  height: auto;
}

.hero-text h1{
  font-family: "PT Sans Narrow", sans-serif;
  color: #f2f2f2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-button {
  width: 10%;
  padding: 15px;
  border-radius: 12px;
  border: 2px solid white;
  background-color: transparent;
  outline: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 25%);
}

.hero-link a {
  color: #f2f2f2;
  font-size: 20px;
 font-family: "PT Sans Narrow", sans-serif;
  text-decoration: none;
}
